.cellListWidget {
	
}

.cellListEvenItem, .cellListOddItem {
	zoom: 1;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-left: 3px solid transparent;
}

.cellListKeyboardSelectedItem {
	border-left-color: #DD4B39;
}

.cellListSelectedItem {
	
}