body {
	font-size: 13px;
	padding-top: 0px;
}

h1,h2,h3 {
	margin: 5px 0px;
}

h3 {
	line-height: 20px;
}

.headerContainer {
	width: 100%;
	height: 100%;
	background-color: #2D2D2D;
	color: white;
}

.headerInnerContainer {
	height: 100%;
	padding: 0px 20px;
}

.headerTitle {
	
}

.contentContainer {
	
}

.recentReposContainer {
	
}

.recentReposTitleContainer {
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

.recentReposTitle {
	margin: 0px;
	line-height: 16px;
}

.recentReposScroll {
	height: 100%;
}

.searchContainer, .repoContainer {
	margin: 0px 5px;
	-moz-box-shadow: 0px 0px 5px 2px #656565;
	-webkit-box-shadow: 0px 0px 5px 2px #656565;
	-o-box-shadow: 0px 0px 5px 2px #656565;
	box-shadow: 0px 0px 5px 2px #656565;
}

.searchFormContainer {
	margin-left: 10px;
}

.searchNoResult {
	margin-left: 10px;
}

.searchError {
	margin-left: 10px;
	color: red;
}

.repoCollaboratorsContainer {
}

.repoCollaboratorsTitleContainer {
	border-bottom: 1px solid #DDD;
	text-align: right;
	padding: 5px;
}

.repoCollaboratorsTitle {
	margin: 0px;
	line-height: 16px;
}

.repoCollaboratorsScroll {
	height: 100%;
}

.repoCollaboratorCell {
	max-width: 120px;
	height: 24px;
	padding-left: 35px;
	padding-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}

.repoCollaboratorAvatar {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.repoTitleContainer {
	min-height: 50px;
	margin-bottom: 10px;
}

.repoCommitTimelineDivAvatar, .repoCommitTimelineDivNoAvatar {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}

.repoCommitTimelineDivAvatar {
	padding-left: 25px;
}

@external timeline-event-selected;
.timeline-event-selected .repoCommitTimelineDivAvatar, .timeline-event-selected .repoCommitTimelineDivNoAvatar {
	max-width: none;
}

.repoCommitTimelineAvatar {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.errorLabel {
	font-weight: bold;
	color: red;
}

.alertGlassPanel {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
}

/* TabLayoutPanel style */
@external gwt-TabLayoutPanel, gwt-TabLayoutPanelTabs, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTab-selected, gwt-TabLayoutPanelTabInner;
.gwt-TabLayoutPanelTabs {
	border-bottom: 1px solid #DDD;
}

.gwt-TabLayoutPanelTab {
	margin-bottom: -1px;
}

.gwt-TabLayoutPanelTabInner {
	font-size: 14px;
	color: #08C;
	padding: 8px 12px;
	margin-right: 4px;
	line-height: 20px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.gwt-TabLayoutPanelTabInner:hover {
	color: #555;
	background-color:#eeeeee;
	border-color:#eeeeee #eeeeee #dddddd;
	cursor: pointer;
}

.gwt-TabLayoutPanelTab-selected > .gwt-TabLayoutPanelTabInner {
	color: #555;
	background-color: white;
	border: 1px solid #DDD;
	border-bottom-color: transparent;
	cursor: default;
}

/* End TabLayoutPanel style */